/**{
    border: 2px solid grey;
}*/
body{
    background: linear-gradient(
        to bottom,
        #1F2937 0%,
        #1F2937 28%,
        #F9FAF8 28%,
        #F9FAF8  50%,
        #E5E7EB 50%,
        #E5E7EB 75%,
        #F9FAF8  75%,
        #F9FAF8  94.95%,
        #1F2937 94.95%,
        #1F2937 100%


    );

    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

    
.header{
    height:64px;
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0px 300px;
    padding-bottom: 64px;
}
.header-right,
.header-left{
    display: flex;
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #E5E7EB;
    gap: 16px;
    margin: 0;
    padding: 0;
    width: 500px;
    justify-content: flex-end;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}


.hero-card{
    display: flex;
    background-color: #1F2937;
    padding: 0px 300px;
    padding-bottom: 64px;
}

.hero-right,
.hero-left{
    display:flex;
    flex: 1;
}

.hero-right{
    justify-self: flex-end;
}

.hero-text{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.sign-up-hero{
    padding: 8px 16px;
    background: #3883F6;
    color: #F9FAF8;;
    border-radius: 8px;
    border:#1c242f;
    font-size: 18px;
}
.subtext{
    max-width:500px;
    color:#E5E7EB;
    font-size: 18px;
}

.image-right{
    height: 200px;
    width: 400px;
    flex: 1
}


.information{
    background-color: #F9FAF8;
    color:#1F2937;
    padding: 0px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 64px;

}

.text-info{
    padding-top: 32px;
    font-size: 36px;
    font-weight: bolder;
}
.images-info{
    display: flex;
    gap: 32px;
}
.info-image{
    width:150px;
    height: 150px;
    border: 4px solid #3883F6;
    border-radius: 16px;
}





.quote{
    background-color: #E5E7EB;
    padding: 0px 300px;
}


.sign-up-block{
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 0px 300px;
}









.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    height: 64px;
}